<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showDockIcon</key>
	<true/>
	<key>enableStatusBarMenu</key>
	<true/>
	<key>allowWindowResize</key>
	<true/>
	<key>startWidth</key>
	<integer>400</integer>
	<key>startHeight</key>
	<integer>500</integer>
	<key>allowWebkitDebug</key>
	<true/>
	<key>splashScreenImage</key>
	<string>splash-screen.png</string>
	<key>splashBackgroundColor</key>
	<string>#e74c3c</string>
	<key>startPage</key>
	<string>index.html</string>
</dict>
</plist>
