html{
	height:100%;
}

body{
	height:100%;
	font-family: sans-serif;
	color:#FFF;
	font-size:14px;
	text-align:center;
	background: #e74c3c;
	margin:0;
	padding:0;
}

h1{
	border: 3px solid #fff;
	margin: 0.35em auto;
	padding: 0.3em 0.5em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	width:200px;
	-webkit-transform: translate3d(0, -1000px, 0) rotateZ(20deg);
	-webkit-transition: all 1000ms cubic-bezier(.89,.38,.89,1.21) 250ms;
}

.bun{
	background-color:#FFBE4D;
	margin: 0 auto;
	padding: 0.3em 0.5em;
	width:200px;
	height:1em;
}
	.bun.top{
		height:2.5em;
		border-radius:3em 3em 0 0;
		-webkit-transform: translate3d(0, -1000px, 0) rotateZ(50deg);
		-webkit-transition: all 1000ms cubic-bezier(.89,.38,.89,1.21) 500ms;
	}
	.bun.bottom{
		border-radius:0 0 1em 1em;
		-webkit-transform: translate3d(0, -1000px, 0) rotateZ(-40deg);
		-webkit-transition: all 1000ms cubic-bezier(.89,.38,.89,1.21) 0ms;
	}


.running .bun.top{
	-webkit-transform: translate3d(0, 150px, 0) rotateZ(0deg);
}

.running h1{
	-webkit-transform: translate3d(0, 150px, 0) rotateZ(0deg);
}

.running .bun.bottom{
	-webkit-transform: translate3d(0, 150px, 0) rotateZ(0deg);
}


@-webkit-keyframes pulsate {
  0% {
  	background-color:#FFAF30;
  	box-shadow: 0 0 9px #FFB43D;
  }

  100% {
    background-color:#f39c12;
    box-shadow: 0 0 0 #FFB43D;
  }
}

.status{
	color:#e0e0e0;
	background-color: #a0a0a0;
	width: 160px;
	padding: 0.5em;
	border-radius: 0.4em;
	margin: 2em auto;
}

.running .status{
	color:#fff;
	background-color:#f39c12;
	-webkit-animation-duration: 500ms;
  	-webkit-animation-name: pulsate;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-direction: alternate;
}
